.btn2{
    background-color:black;
    border-radius: 6px;
    height: 35px;
    width: 95px;
}

.image{
    height: 8vh;
    width: 15vw;
    margin: auto;
    padding: auto;
}






