.hg{
    margin-left: 20px;
    margin-top: 20px;
}
.gh{
    margin-top: 20px;
    margin-left: 20px;
}
.big{
    margin-left: 20px;

}
.pg{
    margin-left: 40px;
}
.ji{
    margin-top: 20px;
}
.plh{
    margin-left: 40px;
}
.pgk{
    margin-left: 40px;
}

.yj{
    margin-left: 40px;
}
.uy{
    margin-top: 20px;
    margin-left: 40px;
}

.upl{
    margin-top: 20px;
    margin-left: 20px;
}
.jjj{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 800px;
    height: auto;
}