.phra{
    margin-left: 20px;
}

.hed{
    margin-bottom: 40px;
}
.ph{
    margin-left: 40px;
}

.ui{
    margin-left: 20px; 
}
.hee{
    margin-left: 20px; 
}
.hmm{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 800px;
    height: auto;
}