.ppp{
    text-align: center;
}
.details-items{
     font-family: roboto;
     font-weight: bold;
}
.text-section{
    margin-left: 150px;
    border:2px solid black;
    width: 850px;
    
}
{
    text-decoration: none;
}